{% extends 'firstapp/base.html' %}

{% block title %}Übersicht Admin{% endblock title %}

{% block body %}
<header>
    <h1><b>Admin Übersicht</b></h1>
</header>

<nav>
    <a href="{% url 'Übersicht' %}">Übersicht</a>
    <a href="{% url 'New' %}">Neue Ressource</a>
    <a href="{% url 'Übersicht' %}">Mein Profil</a>
    <a href="{% url 'Login' %}">Login</a> 
</nav>

<h3>Cluster Liste </h3>

<nav class="navbar">
  <span>Logged in: {{request.user}}</span>
  <a href="{% url 'Logout' %}" class="btn btn-info btn-lg">Logout</a>
</nav>

<div class="container-fluid">
  <div class="table-responsive">
    <table id="mainTable" class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Titel</th>
          <th>Quantity</th>
          <th>Duration in days</th>
          <th>Availability</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        {% for cl in cluster %}
          <tr>
            <td class="col-lg-6">{{cl.title}}</td>
            <td class="col-sm-2">{{cl.quantity}}</td>
            <td class="col-sm-1">{{cl.duration}}</td>
            <td class="col-sm-1">
              <a class="btn btn-outline-secondary" href="" role="button">free dates</a>
              <a class="btn btn-outline-secondary" href="" role="button">taken dates</a>
            </td>
            <td class="col-sm-3">
              <a class="btn btn-primary" href="{% url 'edit' cl.id %}" role="button">&#x270E</a>
              <a class="btn close" href="{% url 'delete' cl.id %}" role="button">&#9747</a>
            </td>
          </tr> 
        {% endfor %}
      </tbody>
    </table>  
  </div>
</div>
{% endblock body %}

{% block css %}
<style>

</style>
{% endblock css %}

{% block javascript %}
<script>

</script>
{% endblock javascript %}